
NEXT_PUBLIC_CHAIN=thinkium801
# rpc url of networks
NEXT_PUBLIC_SEPOLIA_RPC_URL=http://rpc-testnet.ruleos.com

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_ASSET_PREFIX=
# next.config.js 使用
BASE_PATH=
ASSET_PREFIX=

# 出块时间(秒)
NEXT_PUBLIC_BLOCK_TIME=3

# Life20参数
NEXT_PUBLIC_FIRST_TOKEN_NAME=TEST20
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TEST20
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=TestTKM20
NEXT_PUBLIC_TOKEN_DECIMALS=18
NEXT_PUBLIC_FIRST_PARENT_TOKEN_FUNDRAISING_GOAL="100000000000000000"
NEXT_PUBLIC_PARENT_TOKEN_FUNDRAISING_GOAL="20000000000000000000000000"
NEXT_PUBLIC_LAUNCH_AMOUNT="1000000000000000000000000000"
NEXT_PUBLIC_ROUND_BLOCKS=100
NEXT_PUBLIC_JOIN_END_ROUND_BLOCKS=1

# Life20合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_FEE_TO_SETTER=
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0x91dc5775d04C8c13551C43Bbc793E4e0Ca02c869
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0x1f38b795a38FB20f4F7b5B37B27a3Ca1b11E5170
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0xc2F9D4CAd67124e86d7a5E7Bcd9DF26259B8c588
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0x76D3ABa856ce8aAA7E011290353Aa81484da3072
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0x008183871897F37bC36FaCa99E4500C43EA6544e
NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0x79832Dd7f109098A9825ba7e334145dab2EC1BCA
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0xb8003E373bfb3A5d96d2D0cE334FAc0b79Cd6833
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0x33fc0bbfDA08E0a2B81301be34eb1867e5D57D51
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0x80bF3882646eD544803E558bD293C773AbD7fEfC
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0xb53DA380CbBa8610B5Dabb0bA48c0FeB6d6F6b76
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0xc3b2E3B7755e867A3Ec8c6047EaAD4e9db8CE4c1
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0x065016AcBb1Cd7bD0D9a65eE42138E8D326280fD

NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0xBeE013bC3db596AA42b59F55f987620BF51911f3
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_SL_TOKEN=0x34FEd00B4eda6Ac472DdB0c25c7351239Ce6b383
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_ST_TOKEN=0x4C0F14C4fe6f9e2b1ac033Ac38B5791d14CD0F7b

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0x54E1d87986bc186092f94307E3324Dbb14CaDa27
