
NEXT_PUBLIC_CHAIN=sepolia
# rpc url of networks
NEXT_PUBLIC_SEPOLIA_RPC_URL=https://eth-sepolia.api.onfinality.io/public

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/
NEXT_PUBLIC_BASE_PATH=
NEXT_PUBLIC_ASSET_PREFIX=
# next.config.js 使用
BASE_PATH=
ASSET_PREFIX=

# 出块时间(秒)
NEXT_PUBLIC_BLOCK_TIME=12

# Life20参数
NEXT_PUBLIC_FIRST_TOKEN_NAME=TEST20
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TEST20
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=ETH20
NEXT_PUBLIC_TOKEN_DECIMALS=18
NEXT_PUBLIC_FIRST_PARENT_TOKEN_FUNDRAISING_GOAL=100000000000000000
NEXT_PUBLIC_PARENT_TOKEN_FUNDRAISING_GOAL=20000000000000000000000000
NEXT_PUBLIC_LAUNCH_AMOUNT=1000000000000000000000000000
NEXT_PUBLIC_ROUND_BLOCKS=100

# Life20合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_FEE_TO_SETTER=
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0xAcfFe86c04716B5389b22cDDC834D367982906A2
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0x06b4043b3254150d47c112a637C21cec1eb56840
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0x4d706Afe273906FaEe9D183D864b5e9d60f1C0F8
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0xF85a05b16c0aE98D6Fd5Eb6Ff27a7A7A4E6F65b5
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0xC149675D27e90F284cFf37992ff3b651E6dB0212
NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0x937cb7ae20B59531085F285F5161e22c4567715f
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0x53AB9c7F8bcFeD61A69A4E38621c00385D64Ffe7
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0x931DC10Da7b78352E870e7C61a7F5dB289fd9b3D
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0x5B5DBDfAFA5501FCDfb3aD53F659A895E52785DD
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0x66Ea3E1128B6c7e0ca00a9DA847A86aba117B9FC
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0x4a0bD71EFDb4BB982407448397b53f67771f40DE
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0x334313dFfD475aEDEf9E263CA45b88BF89B33B58

NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0x4d120BfaFfEFe9DF3AAE24771c2c62d0a5d2A3bf
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_SL_TOKEN=0x078ea2d0d2Fa3bEDfe452454F20c40019b02d2A0
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_ST_TOKEN=0x59D92cFB5e8C79d372E7B568D0e0688eF6D25761

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0x3c20c3b5d95A9d64447cdd0555087fa2B4A95a2a
