
NEXT_PUBLIC_CHAIN=thinkium801

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/

# 出块时间(秒)
NEXT_PUBLIC_BLOCK_TIME=3

# Life20参数
NEXT_PUBLIC_FIRST_TOKEN_NAME=TEST20
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TEST20
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=TestTKM20
NEXT_PUBLIC_TOKEN_DECIMALS=18

NEXT_PUBLIC_FIRST_PARENT_TOKEN_FUNDRAISING_GOAL="100000000000000000"
NEXT_PUBLIC_PARENT_TOKEN_FUNDRAISING_GOAL="20000000000000000000000000"
NEXT_PUBLIC_LAUNCH_AMOUNT="1000000000000000000000000000"
NEXT_PUBLIC_WITHDRAW_WAITING_BLOCKS=400

NEXT_PUBLIC_PHASE_BLOCKS=100
NEXT_PUBLIC_JOIN_END_ROUND_BLOCKS=1
NEXT_PUBLIC_SUBMIT_MIN_PER_THOUSAND=5

# Life20合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_FEE_TO_SETTER=
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0xEd681d43198A3d537E65cF0eD576576E90D3DE83
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0x510974052aF62f83a32AceF03E51517Ddb627c44
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0x83Ef842233f54E640b4c11d2B8630E88eD56Fe66
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0x8EF788EE199Dbff585FE077DA25733b6A66C8f95
NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0xe4f8EF96B825409dd937E83105c2857FeaeC6631
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0xc2d1832c518777610a8E810E3Eb56C50A8F42cc1
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0x15a587A60ffdFE533b9a51b2dB23248a6f17f973
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0x7Df72a500679300DB8f9762D7Dc3085b3D464c5E
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0xEAfc1B552eF2D44E163c87e4b48b95f938D6c8B7
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0x61018AD6672d9769Ca0c72De846BbCB9d281Cbb2
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0xC5da9328Ff051d7D8ffF87C17Aa3101aEB7144D2

NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0x966B26Fa8554f6ceA81B872AE1994cfaDAE87Bc6
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_SL_TOKEN=0x5F71Bc6A32d912b525612bE0908dde7986cb98ba
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_ST_TOKEN=0x15aB2FD8133EDB606a3a4a0970D203103a9df982

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0xe9C4013c43BD05c6f85Db3F5D15Ec1e0DE6867e1
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0xdBB12f1C17F20456fb326b7B1FA5B5dbEda76f69
