
NEXT_PUBLIC_APP_VERSION=1.0.6

# 公链相关参数
NEXT_PUBLIC_CHAIN=thinkium801
NEXT_PUBLIC_THINKIUM_RPC_URL=https://rpc-testnet.ruleos.com
NEXT_PUBLIC_NATIVE_TOKEN_SYMBOL=TKM
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=TestTKM20
NEXT_PUBLIC_TOKEN_DECIMALS=18
NEXT_PUBLIC_BLOCK_TIME=255 # 出块时间(秒*100)

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/

# LOVE20 参数
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TestLOVE20
NEXT_PUBLIC_WITHDRAW_WAITING_BLOCKS=48 # 2 minutes
NEXT_PUBLIC_CHILD_TOKEN_WAITING_BLOCKS=48 # 2 minutes waiting blocks before allowing child token deployment
NEXT_PUBLIC_PHASE_BLOCKS=120 # 5 minutes
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MIN=1
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MAX=4
NEXT_PUBLIC_SUBMIT_MIN_PER_THOUSAND=3  # 0.3% gov votes
NEXT_PUBLIC_JOIN_END_PHASE_BLOCKS=8 # last 20 seconds fobid to join
NEXT_PUBLIC_ACTION_REWARD_MIN_VOTE_PER_THOUSAND=30  # 3%
NEXT_PUBLIC_ROUND_REWARD_GOV_PER_THOUSAND=1  # 0.1%
NEXT_PUBLIC_ROUND_REWARD_ACTION_PER_THOUSAND=1  # 0.1%

# 合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0xee3e1EFefeB6500D88362B249424a86F1086478b
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0x0A74e035644841DE78411Ef450F9fb27849dc592
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0xDb1F27A3CAB8f7b6a83ab56952Fa66D68a3E6bf8
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0x3fEec84A9B9a57e87cd5350361254125855682B1
NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0x121e5BABd2268f63fcFaD424f864046A370ED261
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0x044D459FeF9fD3Bd963670654EbF736182a1ee26
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0xecEA3b56E5AB41F30655f948AC41A40396EDa9B1
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0x12EC9a298F4E75E3f174ad9cCAeeB66040f04C36
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0xCbc31F301eC27ed3BE197849A79F056bAd895268
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0xD958B43469778dc1bA7526f9361301Bcf330f906
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0xE903A32b580B6684E40Ff5AED33437cf919EFcc1
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0x5dB17F39d480cd525Af5d1bACF8cdA2048610e14

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0xf071880505af338e185D69464eBA4ab6aC3c64C5
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0x6c0345AfBE97CB5804E4BE5199b74b2DB1A0E0Ea
NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_HUB=0xC097DFfab0eA41cb42e56458FD0Fee2BeB945ECB

