
NEXT_PUBLIC_APP_VERSION=1.0.6

# 公链相关参数
NEXT_PUBLIC_CHAIN=thinkium801
NEXT_PUBLIC_THINKIUM_RPC_URL=https://rpc-testnet.ruleos.com
NEXT_PUBLIC_NATIVE_TOKEN_SYMBOL=TKM
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=TestTKM20
NEXT_PUBLIC_TOKEN_DECIMALS=18
NEXT_PUBLIC_BLOCK_TIME=255 # 出块时间(秒*100)

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/

# LOVE20参数
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TestLOVE20
NEXT_PUBLIC_WITHDRAW_WAITING_BLOCKS=48 # 2 minutes
NEXT_PUBLIC_CHILD_TOKEN_WAITING_BLOCKS=48 # 2 minutes waiting blocks before allowing child token deployment
NEXT_PUBLIC_PHASE_BLOCKS=120 # 5 minutes
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MIN=1
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MAX=4
NEXT_PUBLIC_SUBMIT_MIN_PER_THOUSAND=3  # 0.3% gov votes
NEXT_PUBLIC_JOIN_END_PHASE_BLOCKS=8 # last 20 seconds fobid to join
NEXT_PUBLIC_ACTION_REWARD_MIN_VOTE_PER_THOUSAND=30  # 3%
NEXT_PUBLIC_ROUND_REWARD_GOV_PER_THOUSAND=1  # 0.1%
NEXT_PUBLIC_ROUND_REWARD_ACTION_PER_THOUSAND=1  # 0.1%

# LOVE20合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0xee3e1EFefeB6500D88362B249424a86F1086478b
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0x0A74e035644841DE78411Ef450F9fb27849dc592
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0xaC3AB5F5F4040B2b4F1E2F102B4C7608dbA50b87
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0xbde13b6C4FdE3d535765EE0A2FD51096d0091783

NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0xdf4FCA781B8c49D98b9bF28241589013E8B7a2DE
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0x3c2E9444c46dB1F1Ea40d198683F919664a0Bf9b
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0xe2a1458B487b0b5F45742eB9ED0ad9FF2565a69C
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0x127a5661253ddb2A262709C5b23DE599899DcE1d
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0x868f3474840E77DBCfF8b6dFC94e58Ded5d62BBB
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0xC12Dc7d1da3559F3b7b024bB1AE4F6A414d3568d
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0x5EC6968225d640f5A6DD8EaB2574539E506Bc184

NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0xBCC85da39A771f0ba4B249462426D4dCAf90E189

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0xd8f198fd8C7683cBa24D2158273d3B58929271de
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0x843F77A8d5a4e6583f1085259bE9aec7CE88afe4
NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_HUB=0x7c4ef9908c56bb01Ea7E91d40b80B1Bb3d77ef91

