
NEXT_PUBLIC_APP_VERSION=1.0.8

# 公链相关参数
NEXT_PUBLIC_CHAIN=thinkium70001
NEXT_PUBLIC_THINKIUM_RPC_URL=https://proxy1.thinkiumrpc.net
NEXT_PUBLIC_NATIVE_TOKEN_SYMBOL=TKM
NEXT_PUBLIC_FIRST_PARENT_TOKEN_SYMBOL=TestTKM20
NEXT_PUBLIC_TOKEN_DECIMALS=18
NEXT_PUBLIC_BLOCK_TIME=255 # 出块时间(秒*100)
NEXT_PUBLIC_TOKEN_PREFIX=Test

# WalletConnect Project ID
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=3e08c0ee570fce9c29473eb34b0532c3

# 源abi文件所在目录
NEXT_PUBLIC_FOUNDRY_CORE_ABI_PATH=../LOVE20-core/out/
NEXT_PUBLIC_FOUNDRY_PERIPHERAL_ABI_PATH=../LOVE20-peripheral/out/

# LOVE20 参数
NEXT_PUBLIC_FIRST_TOKEN_SYMBOL=TestLOVE20
NEXT_PUBLIC_FIRST_PARENT_TOKEN_FUNDRAISING_GOAL=100000000000000000  # 1e17 (0.1 TKM)
NEXT_PUBLIC_PARENT_TOKEN_FUNDRAISING_GOAL=20000000000000000000000000  # 2 * 1e7 * 1e18 (20 million tokens)
NEXT_PUBLIC_WITHDRAW_WAITING_BLOCKS=48 # 2 minutes
NEXT_PUBLIC_MIN_GOV_REWARD_MINTS_TO_LAUNCH=2 # how many gov reward mints  to launch one token
NEXT_PUBLIC_PHASE_BLOCKS=120 # 5 minutes
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MIN=1
NEXT_PUBLIC_PROMISED_WAITING_PHASES_MAX=4
NEXT_PUBLIC_SUBMIT_MIN_PER_THOUSAND=3  # 0.3% gov votes
NEXT_PUBLIC_JOIN_END_PHASE_BLOCKS=8 # last 20 seconds fobid to join
NEXT_PUBLIC_ACTION_REWARD_MIN_VOTE_PER_THOUSAND=30  # 3%
NEXT_PUBLIC_ROUND_REWARD_GOV_PER_THOUSAND=1  # 0.1%
NEXT_PUBLIC_ROUND_REWARD_ACTION_PER_THOUSAND=1  # 0.1%

# 合约地址
NEXT_PUBLIC_CONTRACT_ADDRESS_ROOT_PARENT_TOKEN=0x91dc5775d04C8c13551C43Bbc793E4e0Ca02c869
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_FACTORY=0x76D3ABa856ce8aAA7E011290353Aa81484da3072
NEXT_PUBLIC_CONTRACT_ADDRESS_TOKEN_FACTORY=0x008183871897F37bC36FaCa99E4500C43EA6544e
NEXT_PUBLIC_CONTRACT_ADDRESS_LAUNCH=0x79832Dd7f109098A9825ba7e334145dab2EC1BCA
NEXT_PUBLIC_CONTRACT_ADDRESS_STAKE=0xb8003E373bfb3A5d96d2D0cE334FAc0b79Cd6833
NEXT_PUBLIC_CONTRACT_ADDRESS_SUBMIT=0x33fc0bbfDA08E0a2B81301be34eb1867e5D57D51
NEXT_PUBLIC_CONTRACT_ADDRESS_VOTE=0x80bF3882646eD544803E558bD293C773AbD7fEfC
NEXT_PUBLIC_CONTRACT_ADDRESS_JOIN=0xb53DA380CbBa8610B5Dabb0bA48c0FeB6d6F6b76
NEXT_PUBLIC_CONTRACT_ADDRESS_RANDOM=0xc3b2E3B7755e867A3Ec8c6047EaAD4e9db8CE4c1
NEXT_PUBLIC_CONTRACT_ADDRESS_VERIFY=0x065016AcBb1Cd7bD0D9a65eE42138E8D326280fD
NEXT_PUBLIC_CONTRACT_ADDRESS_MINT=0xEFf44C52F40c39A6DCcb4A675b74Db1B94003827
NEXT_PUBLIC_CONTRACT_ADDRESS_FIRST_TOKEN=0x717dADA4a22282d636B0D3B20bf0a5557b77DCF3

NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_DATAVIEWER=0x45eb77562A486d07a676D6456a29777f4fEb2d54
NEXT_PUBLIC_CONTRACT_ADDRESS_UNISWAP_V2_ROUTER=0x17c5325097F421b140e9e92294928C3A32BE0539
NEXT_PUBLIC_CONTRACT_ADDRESS_PERIPHERAL_HUB=0x2D2035E59d02FEd3cAeEe3A3b598A86e8022e317
